.search-input{
  width: 100%;
  height: 70px;
  position: relative;

  padding: 0;
  text-indent: 40px;

  background: url("search.png") no-repeat;
  background-size: 20px;
  background-position: 15px 27px;
  background-color: #e9eef3;
  color: #1d3648;
  font-size: 16px;
  font-weight: bold;

  border: none;
  outline: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}



